:root {
    --timberWolf:#dad7cd;
    --sage: #a3b181;
    --honeydew: #cfdece;
    --hunterGreen: #3a5a40;
    --brunswickGreen: #344e41;
    --balck: #000;
    --white: #fff;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

header {
    text-align: center;
    background-color: var(--brunswickGreen);
    border-block-end: 10px solid #a3b18a;
    border-block-start: 10px solid #a3b18a;
    color: var(--white);
    font-family: "Playwrite AU VIC";

    
}

header img {
    width: 100px; 
    height: auto;   
}

#title1, #title2{
    text-align: center;
}
#shortText {
    color: var(--white);
    font-size: 2em;
}

nav {
    background-color: var(--sage);
    text-align: center;
    border-block-end: 10px solid var(--sage);
}

nav ul {
list-style-type: none;
display: flex;
justify-content: space-evenly;
}

nav a {
    color: var(--balck);
    text-decoration: none;
}


.accentBorder {
    
    text-align: center;
    background-color: var(--honeydew);
}

#topBar {
    margin-block-end: 10px;
}


#quote {
  display: block; 
  margin: 0 auto;
  text-align: center; 
  width: 50%;
}

h2 {
    font-size: 3em;
    color: var(--hunterGreen);
    text-align: center;
    vertical-align:bottom 
}

h3 {
    border-block-end: 10px solid var(--sage);
    background-color: var(--sage);
    text-align: center;
}

section {
    text-align: center;
    border: 10px solid var(--sage);
    background-color: var(--timberWolf);
}

 footer nav {
    text-align: center;
    background-color: var(--honeydew);
}

footer {
    text-align: center;
    background-color: var(--honeydew);
}

table {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-block-start: auto;
    font-size: 3em;
    
}
div > a {
    display: flex;
    justify-content: space-evenly;
    color: black;
}

tr:nth-child(even){
    background-color: var(--sage);

}
tr:nth-child(odd){
    background-color: var(--honeydew);
}

a:hover{
    font-style: italic;
    color: var(--hunterGreen);
}

.wrapper {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    margin: auto;
    background-color: var(--white);
    justify-content: center;
    text-align: center;
  }
  
  .box {
    background-color: var(--timberWolf);
    color: var(--brunswickGreen);
    border-radius: 5px;
    padding: 20px;
   
  }

  .bottomNav {
    display:block;
  }

  form {
    display:grid;
    grid-template-columns: 1fr;
    width: fit-content;
    justify-content: center;
  }

@media (min-width:768px) {
    
}